<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="40030"
    android:versionName="1.1.40030"
    package="com.magical.camera">
    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="36"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_READ"/>
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_WRITE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.gallery3d.permission.GALLERY_PROVIDER"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"/>
    <application
        android:theme="@style/ThemeCameraSec"
        android:label="@string/camera_label"
        android:icon="@mipmap/ic_launcher_camera"
        android:restoreAnyVersion="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity
            android:exported="true"
            android:label="@string/camera_label"
            android:name="com.android.camera.CameraActivity"
            android:taskAffinity="com.android.camera.CameraActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|mnc|mcc"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.android.keyguard.layout"
                android:resource="@layout/keyguard_widget"/>
        </activity>
        <activity-alias
            android:exported="true"
            android:label="@string/camera_label"
            android:icon="@mipmap/ic_launcher_camera"
            android:name="com.android.camera.CameraLauncher"
            android:targetActivity="com.android.camera.CameraActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity
            android:exported="true"
            android:label="@string/camera_label"
            android:icon="@mipmap/ic_launcher_camera"
            android:name="com.android.camera.SecureCameraActivity"
            android:taskAffinity="com.android.camera.SecureCameraActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.android.keyguard.layout"
                android:resource="@layout/keyguard_widget"/>
        </activity>
        <activity
            android:exported="true"
            android:label="@string/camera_label"
            android:name="com.android.camera.CaptureActivity"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|mnc|mcc"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:visibleToInstantApps="true">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:exported="true"
            android:label="@string/video_camera_label"
            android:name="com.android.camera.VideoCamera"
            android:screenOrientation="portrait"
            android:targetActivity="com.android.camera.CaptureActivity"
            android:visibleToInstantApps="true">
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <receiver android:name="com.android.camera.DisableCameraReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
<!--        <service android:name="com.android.camera.MediaSaveService"/>-->
        <service android:name="com.android.camera.FileSaverService"/>
        <service android:name="com.mediatek.camera.addition.remotecamera.service.MtkCameraService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mediatek.camera.service.IMtkCameraService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
